body{
    font-family: 'Inter';
}

.header{
    background: #fff;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
    z-index: 1;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.iner_header{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    display: flex;
    align-content: center;
}

.logo_mobile{
    display: none;
}

.logo span{
    color: #2D3436;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.header_menu{
    display: flex;
    align-items: center;
}

.header_menu li:not(:first-child){
    margin-left: 20px;
}

.header_menu li::after{
    content: ".";
    color: #FDCB6E;
    font-weight: 700;
    position: relative;
    bottom: 5px;
    margin-left: 20px;
}

.header_menu li:last-child::after{
    content: none;
}

.header_menu a{
    color: #6C5CE7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.header_menu a.active{
    color: #2D3436;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.btn{
    display: block;
    cursor: pointer;
    background-color: #6C5CE7;
    border-radius: 999px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}

.sign_in{
    width: 170px;
    height: 64px;
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

.main{
    height: 700px;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -75px;
    background-position-x: 140px;
    background-size: 80%;
}

.name_desctop{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    text-shadow: 0px 4px 0px #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 5%;
}

.name_desctop span {
    color: #D63031;
}

h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
}

.just_text{
    width: 18%;
    margin-bottom: 20px;
}

.two_btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 70px 15px 0;
}

.learn_more{
    width: 270px;
    height: 82px;
    font-size: 32px;
    line-height: 48px;
}

.green_text{
    width: 33%;
    background-color: #55EFC4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    border: 0px solid;
    border-radius: 999px;
}

.green_text p{
    margin: 30px;
}



.four_buttons{
    height: 100%;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

h3::after{
    content: "\01F69A \1F4A8";
}

h3 + p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 65%;
}

.main_mobile{
    height: 700px;
    display: none;
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -100px;
    background-size: 100%;
}

.icons{
    display: flex;
}

.icons li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
    margin-left: 20px;
}

.icons li:nth-child(2){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #2D3436;
    height: 50px;
}

.icons li:nth-child(3){
    height: 190px≈;
}

.icon_learn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #6C5CE7;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    display: block;
    cursor: pointer;
    margin-top: 10px;
    background-color: #FFFFFF;
    margin-bottom: 40px;
}

.icons ul{
    margin-top: 100px;
}

.header_pricing{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 50px;
}

.mobil_header_pricing{
    display: none;
}

.mobile_under_header{
    display: none;
}

.under_header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #ADADAD;
    text-align: center;
}

.under_header span{
    background-image: url(../images/yellow\ back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 26px;
    background-position-x: 0;
    color: #6C5CE7;
}

.under_header span::after{
    content: ".";
    color: #ADADAD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    position: relative;
    bottom: 6px;
    left: 3px;
}

.pricing_lists{
    display: flex;
    justify-content: space-around;
}

.pricing_lists ul{
    height: 100%;
}

.pricing_lists li{
    width: 100%;
    margin-bottom: 20px;
}

.pricing_lists li:first-child{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #6C5CE7;
    margin-top: 15px;
    margin-bottom: 20px;
}


.list_icon::before{
    content: "\01F464";
    margin-right: 3px;
}

.list_icon::after{
    content: 'best!';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #2D3436;
    border: 1px solid #6C5CE7;
    border-radius: 99px;
    margin-left: 25%;
    padding: 5px;
}

.another_list_icon::before{
    content: "\1F465";
    margin-right: 3px;
}

.pricing_lists li:nth-child(2){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
}

.pricing_lists li:nth-child(2) span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.list_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
    margin-left: 14%;
}

.grey_mark{
    list-style-image: url(../images/first_list.png);
}

.pricing_btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #6C5CE7;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    cursor: pointer;
    margin: 25px 20px;
    height: 15%;
}

.column{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.yellow_mark{
    list-style-image: url(../images/second_list.png);
}

.green_mark{
    list-style-image: url(../images/third_list.png);
}

.active_btn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 65px;
    color: #FFFFFF;
    border: 0px solid;
    border-radius: 16px;
    background-color: #6C5CE7;
    cursor: pointer;
    margin: 25px 20px;
}

.pricing_border{
    border: 1px solid #fff;
    border-radius: 16px;
    background: #fff;
    z-index: 1;
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
}

.mobile_pricing_lists{
    display: none;
}

.socials{
    display: flex;
    margin-right: 12%;
    justify-content: space-between;
    margin-top: 10%;
}

.footer_list{
    display: flex; 
}

.footer_list li{
    margin-right: 20%;
}

.footer_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ADADAD;
    margin-bottom: 10px;
}

.e-mail a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #6C5CE7;
}

.some_information{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.for_information{
    width: 50%;
}

.left_lists{
    display: flex;
    justify-content: space-between;
}

.left_lists a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #2D3436;
    text-decoration: none;
}

.left_lists li{
    margin-bottom: 30px;
}

.left_lists a:hover{
    text-decoration: underline;
}

.right_form{
    margin-left: 8%;
}

::placeholder{
    color: black;
}

#fname{
    background: url(../images/name-icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 105%;
    margin-right: 30px;
    color: #ADADAD;
    border-radius: 16px;
    border: none;
    background-color: #E8E8E8;
}

#e-mail{
    background: url(../images/e-mail_icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 100%;
    color: #ADADAD;
    border-radius: 16px;
    border: none;
    background-color: #E8E8E8;
}

#put_text::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #6C5CE7;
}

#put_text{
    background: url(../images/text_icon.png);
    background-repeat: no-repeat;
    background-position-y:top;
    background-position-x: 100%;
    margin-top: 30px;
    resize: none;
    color: #ADADAD;
    border-radius: 16px;
    border: 2px solid #6C5CE7;
    background-color: #E8E8E8;
}

.footer_form{
    display: flex;
    flex-wrap: wrap;
    width: 478px;
}

.submit_btn{
    width: 170px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
    border: 0px solid;
    background-color: #6C5CE7;
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    border-radius: 16px;
}

.mobile_footer{
    display: none;
}


.wave_background svg{
    width: 100%;
}