body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}

.sign_in{
    display: flex;
    border: 2px solid #0066CC;
    padding: 10px;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #0066CC;
    position: absolute;
    opacity: 0;
    top: 30px;
    left: 0;
}

.header-menu li a:hover::after{
    opacity: 1;
}

.header li{
    display: inline-block;
    font-size: 16px;
    margin-right: 45px;
}

.main_logo{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_logo  h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 30px;
    letter-spacing: 0.08em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main_logo h2{
    font-size: 24px;
    letter-spacing: 0.32em;
}

.page{
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    align-items: center;
    border: 1px solid #FAFAFA;
    font-size: 16px;
}
.page img{
    padding-left: 35px;
    padding-right: 35px;
}

.page a{
    text-decoration: none;
    color: black;
    border-bottom: 2px;
}

.page a:hover{
    color: #0066CC;
}

.main_box{
    width: 100%;
    height: 530px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    width: 370px;
    height: 400px;
    background-color: #fff;
}

.center{
    width: 370px;
    height: 400px;
    background-color: #fff;
}

.right{
    width: 370px;
    height: 400px;
    background-color: #fff;
}

.footer{
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    background-color: #EDF1F3;
    padding-top: 40px;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: space-between;
    color: #000000CC;
    margin: 20px;
}

.first_foot{
    list-style-type: none;
    width: 275px;
    display: list-item;
    line-height: 20px;
}

.first_foot:first-child{
    margin-left: 75px;
}

.first_foot:last-child{
    margin-right: 75px;
}

.first_foot li{
    padding-top: 15px;
}

.first_foot a{
    text-decoration: none;
    color: #000000A3;
}

.first_foot a:hover{
    color: #0066CC;
}

.title{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.main_block{
    background:rgba(0, 0, 0, 0.08);
    height: 2px;
}

.inner_block{
    height: 100%;
    width: 80px;
    background-color: #006BE8;
}

.images{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.copyright{
    color: #0000007A;
    font-size: 12px;
    margin-right: 470px;
}

.network{
    margin-right: 75px;
}
